<div  class="row grid">
    <div class="col-10 row">
        <div *ngFor="let dataItem of ProductList" class="col-md-4" >
            <app-product-item [productItem]="dataItem"></app-product-item>
        </div>
    </div>
    <div class="alert alert-info" *ngIf="cartItem.length === 0" style="margin-top: 20px; height: 50%;">Your cart is empty !!</div>
    <div class="col-md-2 justify-right" *ngIf="cartItem.length > 0" style="margin-top: 20px;">
        <ul class="list-group">
            <li class="list-group-item " *ngFor="let item of cartItem" >
                <app-shopping-cart [cartItem]="item"></app-shopping-cart>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <span><strong>Total</strong>: &#x24; {{cartTotal | number}}</span>
            </li>
        </ul>
    </div>
</div>
